<!-- create a navbar using thymeleaf and add home href-->

<!-- Path: src/main/resources/templates/fragments/navbar.html -->

<nav th:fragment="navbar" class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <div class="container-fluid">
        <a class="navbar-brand text-white" href="#" th:href="@{/}">Library</a>
    </div>
    <!-- check if is admin and add button redirect to admin page -->
    <div sec:authorize="hasRole('ADMIN')" th:if="${session.user}">
        <a class="btn btn-outline-light" href="#" th:href="@{/admin}">Admin</a>
    </div>
    <div class="d-flex">
        <div th:replace="~{fragments/login-register-logout-buttons :: login-register-logout-buttons}"></div>
    </div>

</nav>