<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Leaders Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/darkly/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<h2>LEADERS Home Page</h2>

<hr>

<p>
  See you in Brazil ... for our annual Leadership retreat!
  <br>
  Keep this trip a secret, don't tell the regular employees LOL :-)
</p>

<hr>

<a th:href="@{/home}">Back to Home Page</a>

</body>
</html>








